<nav class="navbar">
    <div class="logo">Sudip Sharma Blog</div>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="/create">Create Blog</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>